name: Pulumi Destroy

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  destroy:
    runs-on: ubuntu-latest

    env:
      PULUMI_ORG: Bharath0899-org
      PULUMI_PROJECT: myworkshop
      PULUMI_STACK: dev

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: ./ppinfra
        run: npm install

      - name: Authenticate to Pulumi Cloud
        uses: pulumi/auth-actions@v1
        with:
          organization: ${{ env.PULUMI_ORG }}
          requested-token-type: urn:pulumi:token-type:access_token:organization

      - name: Inject ESC environment
        uses: pulumi/esc-action@v1
        with:
          environment: aws/github-env

      - name: Pulumi destroy
        uses: pulumi/actions@v5
        with:
          command: destroy
          stack-name: ${{ env.PULUMI_ORG }}/${{ env.PULUMI_PROJECT }}/${{ env.PULUMI_STACK }}
          work-dir: ./ppinfra
          refresh: true
          args: --yes